<% @vehicles.each do |vehicle| %>
  <div class="border" style="float: left; width: 200px">
    <p><%= link_to vehicle.vin, vehicle_path(vehicle.vin) %></p>
    <p><%= vehicle.full_model_name %></p>
    <p><%= vehicle.paint %></p>
    <p><%= vehicle.tires %></p>
    <br style="clear: left"/>
  </div>

<% end %>
