<ul>
<% @vehicles.each do |vehicle| %>
  <div>
    <li><%= link_to vehicle.vin, vehicle_path(vehicle.vin) %></li>
    <li><%= vehicle.full_model_name %></li>
    <li><%= vehicle.paint %></li>
    <li><%= vehicle.tires %></li>
  </div>
  <br>
<% end %>
</ul>
